@import './base.css';

#app {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-weight: normal;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

strong,
b {
  font-weight: 700;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 900px) {
  body {
    display: flex;
    align-items: flex-start;
  }

  #app {
    padding: 0 2rem;
    height: 100vh;
  }
}
